html, body {
    margin: 0px;
    background-image: linear-gradient(to bottom right, #FFC0CB, #40E0D0);
    overflow-x: hidden;
}
h1 {
    color: #1b95cd;
    font-family: cursive;
    opacity: 60%;
    position: absolute;
    -webkit-text-stroke: 2px white;
}

.globe {
    text-align: center;
    margin-top: 150px;
}
    
.globe_image {
    height: 80vh;
}